.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  
}

main {
  background: #FAF0EA;
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

